---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Nathalie Kahambu Sikihimba",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I am Nathalie Kahambu Sikihimba, a Computer Science student currently studying at RTU
			Liepaja Academy in Latvia.
		</p>
		<p>I am motivated, reliable, and focused on continuous learning in technology and teamwork.</p>
		<p>My background includes:</p>
		<ul class="list-inside list-disc" role="list">
			<li>Present: Bachelor degree in Computer Science, RTU Liepaja Academy (2023 - 2026)</li>
			<li>Diploma in Biochemistry, Amani Secondary School (2015 - 2021)</li>
			<li>Primary School Diploma, Mama Mulezi Primary School (2009 - 2015)</li>
			<li>Work experience as Cook at QNQ Restaurant in Liepaja (Apr 2024 - Jul 2024)</li>
			<li>Languages: Swahili (primary), French (C1), English (B2/C1)</li>
			<li>Digital skills: Microsoft Office and Microsoft Word</li>
		</ul>
		<p>
			I am available for internships, part-time opportunities, and collaborative projects where I can
			keep developing my technical and professional skills.
		</p>
	</div>
</PageLayout>
